<?php 
if(isset($_SESSION['adminUser']) OR isset($_SESSION['adminUserNew']) OR isset($_SESSION['cash'])){
    
}else{
    header("location:" . URL);
}
?>
<!DOCTYPE html>

<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" sizes="16x16" href="<?php echo (URL); ?>views/plugins/images/favicon.ico">
    <title><?php echo TITLE_APP; ?></title>
    <link href="<?php echo (URL); ?>views/snippets/layout/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="<?php echo (URL); ?>views/snippets/layout/css/jquery-ui.css" rel="stylesheet">
    <link href="<?php echo (URL); ?>views/plugins/bower_components/bootstrap-extension/css/bootstrap-extension.css" rel="stylesheet">
    <link href="<?php echo (URL); ?>views/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">
    <link href="<?php echo (URL); ?>views/plugins/bower_components/toast-master/css/jquery.toast.css" rel="stylesheet">
    <link href="<?php echo (URL); ?>views/plugins/bower_components/morrisjs/morris.css" rel="stylesheet">
    <link href="<?php echo (URL); ?>views/plugins/bower_components/css-chart/css-chart.css" rel="stylesheet">

        <!--Owl carousel CSS -->
    <link href="<?php echo (URL); ?>views/plugins/bower_components/owl.carousel/owl.carousel.min.css" rel="stylesheet" type="text/css" />
    <link href="<?php echo (URL); ?>views/plugins/bower_components/owl.carousel/owl.theme.default.css" rel="stylesheet" type="text/css" />

    <link href="<?php echo (URL); ?>views/snippets/layout/css/animate.css" rel="stylesheet">
    <link href="<?php echo (URL); ?>views/snippets/layout/css/style.css" rel="stylesheet">
    <link href="<?php echo (URL); ?>views/snippets/layout/css/estilos.css" rel="stylesheet">
    <link href="<?php echo (URL); ?>views/snippets/layout/css/colors/blue.css" id="theme" rel="stylesheet">
    <link href="<?php echo (URL); ?>views/plugins/bower_components/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <!--Owl carousel CSS 
    <link href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />
-->
    <link href="<?php echo (URL); ?>views/snippets/layout/css/datatable.css" rel="stylesheet" type="text/css" />
    <script src="<?php echo (URL); ?>views/plugins/bower_components/jquery/dist/jquery.min.js"></script>


   
</head>