</html>
   <!-- jQuery -->
    <script src="<?php echo (URL); ?>views/plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="<?php echo (URL); ?>views/snippets/layout/bootstrap/dist/js/tether.min.js"></script>
    <script src="<?php echo (URL); ?>views/snippets/layout/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="<?php echo (URL); ?>views/plugins/bower_components/bootstrap-extension/js/bootstrap-extension.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="<?php echo (URL); ?>views/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="<?php echo (URL); ?>views/snippets/layout/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="<?php echo (URL); ?>views/snippets/layout/js/waves.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="<?php echo (URL); ?>views/snippets/layout/js/custom.min.js"></script>
    <!-- Sparkline chart JavaScript -->
    <script src="<?php echo (URL); ?>views/plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js"></script>
    <script src="<?php echo (URL); ?>views/plugins/bower_components/jquery-sparkline/jquery.charts-sparkline.js"></script>
    <!--Style Switcher -->
    <script src="<?php echo (URL); ?>views/plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>